<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Population group</th>
      <th>Food group</th>
      <th>Subjects</th>
      <th>Consumers</th>
      <th>Mean</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.country %></td>
        <td><%= entry.population_group %></td>
        <td><%= entry.food_group %></td>
        <td><%= entry.subjects %></td>
        <td><%= entry.consumers %></td>
        <td><%= entry.mean %></td>
        <td><%= link_to 'Show', entry %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= paginate @entries %>