<h1>What Food Do Europeans Love The Most?</h1>
<p>If You have been wondering about this, look no further, because in this website You can finally get answers!</p>

<div>
    <h2>Search results by:</h2>
    <div>

<p>Country</p>
      <%= form_with url: entries_path, method: "get" do |f| %>
        <%= f.select "search_by_country", options_from_collection_for_select(Country.all, :name, :name), { :include_blank => '-- Select Country --' }, :required => true %>
        <%= f.submit "Search" %>
      <% end %>
     <p>Population group</p>
            <%= form_with url: entries_path, method: "get" do |f| %>
        <%= f.select "search_by_age", options_from_collection_for_select(PopulationGroup.all, :name, :name), { :include_blank => '-- Select Population Group --' }, :required => true %>
        <%= f.submit "Search"  %>
      <% end %>
 <p>Food Group</p>
            <%= form_with url: entries_path, method: "get" do |f| %>
        <%= f.select "search_by_food", options_from_collection_for_select(FoodGroup.all, :name, :name), { :include_blank => '-- Select Food Group --' }, :required => true %>
        <%= f.submit "Search"  %>
      <% end %>
          
    </div>

    <div>
        <p>What Nationality are You?</p>
        <p>About Me</p>
    </div>
</div>


