<%= render "shared/header"%>

  <div class="m-6">
    <h2 class="title has-text-link m-5">Search results by:</h2>
  <div>

  <div class="tile is-ancestor m-4">

    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="subtitle has-text-link-dark">Country:</p>
        <%= form_with url: entries_path, method: "get" do |f| %>
          <%= f.select "search_by_country", options_from_collection_for_select(Country.all, :name, :name), { :include_blank => '-- Select Country --' }, :required => true %>
          <%= f.submit "Search" %>
        <% end %>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="subtitle has-text-link-dark">Population group:</p>
          <%= form_with url: entries_path, method: "get" do |f| %>
            <%= f.select "search_by_age", options_from_collection_for_select(PopulationGroup.all, :name, :name), { :include_blank => '-- Select Population Group --' }, :required => true %>
            <%= f.submit "Search" %>
          <% end %>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="subtitle has-text-link-dark">Food Group:</p>
          <%= form_with  url: entries_path, method: "get" do |f| %>
            <%= f.select "search_by_food", options_from_collection_for_select(FoodGroup.all, :name, :name), { :include_blank => '-- Select Food Group --' }, :required => true %>
            <%= f.submit "Search"  %>
          <% end %>
      </div>
    </div>
  </div>
<div class="is-flex is-justify-content-center">
  <%= link_to 'Home ', '/', style: "color: gray; margin: 30px" %>
</div>

    
    


