<h1>Entries</h1>

<%= column_chart [
  {
    name: "Number of survey subjects",
    data: @entries.limit(20).order('mean desc').group(:food_group, :population_group, :mean, :country).sum(:subjects),
    stack: "stack 1"
  },
  {
    name: "Number of consumers",
    data: @entries.limit(20).order('mean desc').group(:food_group, :population_group, :mean, :country).sum(:consumers),
    stack: "stack 2"
  }
  ], loading: "Loading this beautiful chart..." , empty: "Seems like there is no data -this happens when people haven't eaten anything from shown food groups" 
  %>

<%= column_chart [
  {
    name: "g/day, mean",
    data: @entries.limit(20).order('mean desc').group(:mean, :food_group, :population_group, :country).sum(:mean)
  }
], loading: "Loading this beautiful chart..." , empty: "Seems like there is no data -this happens when people haven't eaten anything from shown food groups" 
%>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Population group</th>
      <th>Food group</th>
      <th>Subjects</th>
      <th>Consumers</th>
      <th>Mean</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.country %></td>
        <td><%= entry.population_group %></td>
        <td><%= entry.food_group %></td>
        <td><%= entry.subjects %></td>
        <td><%= entry.consumers %></td>
        <td><%= entry.mean %></td>
        <td><%= link_to 'Show', entry %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @entries %>
<%= link_to 'Back', '/' %>
