<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @entry.country %>
</p>

<p>
  <strong>Population group:</strong>
  <%= @entry.population_group %>
</p>

<p>
  <strong>Food group:</strong>
  <%= @entry.food_group %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @entry.subjects %>
</p>

<p>
  <strong>Consumers:</strong>
  <%= @entry.consumers %>
</p>

<p>
  <strong>Mean:</strong>
  <%= @entry.mean %>
</p>
<%= link_to 'Back', entries_path %>
