<p id="notice"><%= notice %></p>

<h1>Population Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @population_groups.each do |population_group| %>
      <tr>
        <td><%= population_group.name %></td>
        <td><%= link_to 'Show', population_group %></td>
        <td><%= link_to 'Edit', edit_population_group_path(population_group) %></td>
        <td><%= link_to 'Destroy', population_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Population Group', new_population_group_path %>
